.env
.DS_Store
*.log

# Laravel
backend/.env
backend/vendor/
backend/node_modules/
backend/storage/logs/*.log
backend/bootstrap/cache/*.php

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Docker
docker/mysql/data/
